.container > div {
  display: grid;
  justify-content: space-around;
  background-color: #FFFfff;
  align-items: center;
  color: black;
  font-family: 'Roboto', sans-serif;
  

}

html, body {
  box-sizing: border-box;
  background-color: #FFFfff;
  height: 100%;
  padding: 10px;
  margin: 0px;

}
/*.content > div:nth-child(1n) {
  background-color: #96ceb4;  
}

.content > div:nth-child(3n) {
  background-color: #88d8b0;
}

.content > div:nth-child(2n) {
      background-color: #ff6f69;
}

.content > div:nth-child(4n) {
      background-color: #ffcc5c;
}
.content > div:nth-child(5n) {
      background-color: green;
}
*/
