.container{
display: grid;
background-color: #f9e4ff;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: 120px 939px 200px;
}

.header{
grid-column: 6/20;
background-color: #e5e4ff;

}


.content{
	background-color: white;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-column: 5/20;


}

.image{
grid-column: 1/6;
background-color: #e4fffe;

}

.info{
	grid-column: 6/15;

	background-color: #f7ffe4;

}