*{
	padding: 0;
	margin: 0;
}
.img-icon{
	width: 100%;
}
.img-arrow{
	width: 100%;
}

.img-reasons{
	width: 70%;
}
.main{

	background-color: white;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	font-family: 'Roboto', sans-serif;

}

container{

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: minmax(120px, auto, 120px);
	//background-color: #FED6BC;
	grid-column: 3/11;
 
}

header{
	grid-column: 1/-1;
	//background-color: #DEF7FE;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	padding-top: 1%;
}

.logo{
	grid-column: 1/4;
	justify-self: start;
	padding-left: 40px;
	align-self: center;
//	background-color: #FFFADD;

}

.img-logo{
	width: 100%;
	min-width: 160px;
	max-width: 257px;
}

.slogan{
	grid-column: 4/-1;
	justify-self: stretch;
	font-size: 24px;
	text-align: right;
	padding-top: 30px;
	border-bottom: 1px solid black; 
//	background-color: #F6FFF8;
	white-space: pre-wrap;
}

@media(max-width: 977px){

.slogan{

	font-size: 14px;

}
}

.main-page{
	grid-column: 1/-1;
	//background-color: #FFFADD;
	display: grid;
	grid-template-columns: 4fr 2fr;
	grid-template-rows: auto;
}


.info{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 13% 87%;
	//background-color: #B5F2EA;

}

.title{
	//background-color: #C6D8FF;
	grid-column: 1/-1;
	font-size: 46px;
	padding-top: 7%;
	justify-self: center;
}

@media (max-width: 1647px)
{

.title{

	font-size: 36px;
	padding-top: 10%;

}

.main-page{
	grid-template-columns: 3fr 2fr;
	}
} 


@media (max-width: 1440px)
{

.title{

	font-size: 29px;
	padding-top: 9%;


}

.main-page{
	grid-template-columns: 3fr 2fr;
}


}

@media (max-width: 1155px){

.title{	font-size: 24px;	padding-top: 9%;}

}

@media (max-width: 977px)
{

.title{

	font-size: 18px;


}

.main-page{

	//grid-template-columns: 1fr 1fr;
}


} 


.icon-text{
	font-size: 18px;
}

@media(max-width: 977px){

.icon-text{font-size: 12px;}

}

.icons{
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 8% 20% 10% 20% 10% 20% 12%;
	//grid-template-rows: ;
	//background-color: #FED6BC;
	justify-content: center;
	align-content: start;


}
.img1-1{
	grid-column: 2/3;
	padding-top: 25%;


}

.img1-2{
	grid-column: 3/4;
	padding-top: 25%;

}

.img1-3{
	grid-column: 4/5;
	padding-top: 25%;

}

.img1-4{
	grid-column: 5/6;
	padding-top: 25%;


}

.img1-5{
	grid-column: 6/7;
	padding-top: 25%;


}

.text1{

	grid-column: 2/3;
	padding-top: 7%;
	//padding-left: 10px;
	justify-self: center;
	align-self: start;
	text-align: center;

}

.text2{

	grid-column: 4/5;
	padding-top: 7%;
	justify-self: center;
	align-self: start;
	text-align: center;

}

.text3{

	grid-column: 6/7;
	padding-top: 7%;
	//padding-left: -10px;
	justify-self: center;
	align-self: start;
	text-align: center;

}

.img2-1{
	grid-column: 2/3;
	padding-top: 30%;


}

.img2-2{
	grid-column: 3/4;
	padding-top: 30%;


}

.img2-3{
	grid-column: 4/5;
	padding-top: 30%;


}

.img2-4{
	grid-column: 5/6;
	padding-top: 30%;


}

.img2-5{
	grid-column: 6/7;
	padding-top: 30%;


}

.text4{

	grid-column: 2/3;
	padding-top: 9%;
	justify-self: center;
	text-align: center;

}

.text5{

	grid-column: 4/5;
	padding-top: 9%;
	justify-self: center;
	text-align: center;

}

.text6{

	grid-column: 6/7;
	padding-top: 9%;
	justify-self: center;
	text-align: center;

}



.art{
	padding-top: 4%;
}

.main-img{
	width: 100%;
	min-width: 60%;
	height: auto;

}

.button{
	margin-top: 10%;
	grid-column: 2/7;
	background: #1C1C1C;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

span.button{
	color: #FFFFFF;
	font-size: 48px;
	white-space: nowrap;
}

@media(max-width: 1440px){

	span.button{

	font-size: 28px;
}
}

@media(max-width: 977px){

	span.button{

	font-size: 20px;
}
}

.button:hover{
	color: grey;
}

.why{

	grid-column: 1/-1;
	padding-left: 2.5%;
	padding-bottom: 3%;
	font-size: 48px;
	border-bottom: 1px solid black;


}

@media (max-width: 1647px)
{

.why{

	font-size: 36px;

}

} 


@media (max-width: 1440px)
{

.why{

	font-size: 29px;


}

}



.reasons{

	grid-column: 1/-1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;

}

.reason-div{

	padding: 7%;
	display: grid;
	grid-template-rows: repeat(3, auto);

}



.reason-img{
	//justify-self: center;
	justify-self: start;
	padding-top: 10%;
	padding-bottom: 10%;

}



.reason-title{
	font-size: 30px;
	justify-self: start;
	align-self:start;
}



.reason-text{


	padding-top: 25px;
	font-size: 20px;
	align-self:start;
	justify-self: start;
	//text-align: center;
}

@media (max-width: 977px)
{
	.reason-text{font-size: 18px;}
	.reason-title{font-size: 24px;}
}


footer{
	grid-column: 1/-1;
	margin-top: 9%;
	border-top: 1px solid black; 
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-subscribe{

	font-size: 32px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.subscr{

	cursor:pointer;
	margin-right: 20px;
	font-size: 0.7em;
}

.footer-image{
	padding-top: 2%;

}

@media (max-width: 550px){

container{

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-column: 1/-1;
 
}

	.main-page{
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

header{

	grid-template-columns: 1fr 1fr;

}

.logo{
	grid-column: 1/2;
	justify-self: stretch;
	padding-left: 5%;
	align-self: center;

}

.img-logo{
	width: 50%;

}

.slogan{
	grid-column: 2/-1;
	justify-self: end;
	font-size: 16px;
	text-align: right;
	padding-top: 1px;
	padding-right: 5%;
	border-bottom: none; 
}

.main-img{
	display: none;
}

.why{

	font-size: 25px;
	padding-top: 10%;


}

.reasons{

	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;

}

.reason-div{

	padding: 7%;
	display: grid;
	grid-template-rows: repeat(3, auto);

}



.reason-img{
	//justify-self: center;
	justify-self: start;
	padding-top: 10%;
	padding-bottom: 10%;

}



.reason-title{
	font-size: 25px;
	justify-self: start;
	align-self:start;
}



.reason-text{


	padding-top: 25px;
	font-size: 16px;
	align-self:start;
	justify-self: start;
	//text-align: center;
}

.footer-subscribe{
	padding-top: 10%;
	padding-left: 3%;
	font-size: 25px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.subscr{
	padding-top: 10%;
	padding-left: 3%;
	cursor:pointer;
	font-size: 19px;
}

footer{
	grid-column: 1/-1;
	margin-top: 9%;
	border-top: 1px solid black; 
	display: grid;
	grid-template-columns: 1fr;
}
.footer-image{
	padding-top: 10%;
}
}



















//медиазапросы




